{% extends './base.html' %}
{% block content %}
<main>
  <form action="#" method="GET" oninput="range1value.value = range1.valueAsNumber">
  <div class="row">
    <div class="col-md-8 col-sm-8 blog-main">
      <h3 class="mb-4 font-italic border-bottom">
        New Question
      </h3>
    </div>
  </div>
      <div class="container-fluid" style="margin-top: 0%">
        <div class="row float-right col-5">
          <div class="col-1">
        Text
      </div>
            <div class="col-10">
                <textarea type="text" placeholder="Your text" style="border-width: 4px; border-color: red;width: 100%;height: 175px"></textarea>
            </div>
        </div>
      </div>
      <div class="container-fluid" >
          <div class="row">
              <div class="col-2">
                Title
              </div>
              <div class="col-9">
                  <input class="form" type="text" placeholder="Your question" style="border-width: 4px; border-color: red;width: 100%">
              </div>
          </div>
          <div class="container-fluid" >
              <div class="row">
                  <div class="col-2">
                    Title
                  </div>
                  <div class="related-widget-wrapper">
                      <select name="tags" required id="id_tags" multiple style="border-width: 4px; border-color: red;width: 100%">
                          {% for tag in tags%}
                          <option value={{tag.id}}>{{tag.name}}</option>
                          {% endfor %}
                      </select>
                  </div>
              </div>
          </div>
          <button class="btn btn-danger col-2 col-sm-1" type="submit" style="margin-left: 6%;margin-top: 4%">ASK!</button>
      </div>
  </form>
</main>
{% endblock %}

