{% extends './base.html' %}

{% block content %}
    <script src="../../static/js/buttons.js">
    </script>
  <main role="main" class="container-fluid m-5">
  <div class="row">
    <div class="col-md-8 col-sm-8 blog-main">
      <h3 class="mb-4 font-italic border-bottom">
        New Questions
      <a style="color: #c82333" href="#">Hot Questions</a>
      </h3>
    </div>
{% for question in question_list %}
      <div class="container-fluid" style="margin-top: 0px">
          <div class="row">
              {% include "post.html" %}
          </div>
      </div>
      {% endfor %}
      {% include "paginator.html" %}
  </div>
  </main>
{% endblock %}
