{% extends './base.html' %}
{% block content %}
  <main role="main" class="container-fluid m-5">



<div class="container-fluid" style="margin-top: 0px">
<div>
      <div class="row">
        <div class="container-fluid col col-2" style=";margin-left: 0%;margin-right: 5%">
         <a class="blog-post" href="#"><img src="/static/img/fffzRA7cwYA.jpg" width="80" height="80" style="margin: 10px"></a><br>

          <div class="btn-group" style="margin-left: 10px">
              <div><input type="number" id="myNumber2"></div>
          <div class="btn-group-vertical">
            <button onmouseover="this.style.backgroundColor='green'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 60px;" onclick="myFunction1('myNumber2')">Like</button>
            <button onmouseover="this.style.backgroundColor='red'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 60px;" onclick="myFunction2('myNumber2')">Dislike</button>
          </div>
        </div>

        </div>
        <div class="col col-7">
        <div class="blog-post">
        <h2><a style="color: darkviolet" href="#">What is the color of the stars?</a></h2>
        <p class="blog-post-meta">January 1, 2014 by
          <a href="#">Mark</a>
        </p>


        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
        </blockquote>
          <hr>
            <p>Tags:<a href="#">(Tag1)</a><a href="#">(Tag2)</a></p>
            <hr>
      </div><!-- /.blog-post -->
</div>
           <div class="row" style="border: 3px solid red; width: 80%">
        <div class="col col-2">
         <a class="blog-post" href="#"><img src="/static/img/fffzRA7cwYA.jpg" width="60" height="60" style="margin: 10px"></a><br>

          <div class="btn-group" style="margin-left: 10px">
              <div><input type="number" id="myNumber2"></div>
          <div class="btn-group-vertical">
            <button onmouseover="this.style.backgroundColor='green'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 60px;" onclick="myFunction1('myNumber2')">Like</button>
            <button onmouseover="this.style.backgroundColor='red'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 60px;" onclick="myFunction2('myNumber2')">Dislike</button>
          </div>
        </div>
        </div>
        <div class="col col-7" style="margin-left: 10%">
        <div class="blog-post" style="margin-top: 0%">
        <h2><a style="color: darkviolet" href="#">What is the color of the stars?</a></h2>
        <p class="blog-post-meta">January 1, 2014 by
          <a href="#">Mark</a>
        </p>


        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
        </blockquote>
          <hr>
            <p><input type="checkbox" name="check" value="True"> Correct!</p>
      </div><!-- /.blog-post -->
</div>


        </div>
      </div>

        </div>



 </div>

 </div>

  </main>


<script>
      function myFunction1(str) {
          document.getElementById(str).stepUp(1);
      }
      function myFunction2(str) {
          document.getElementById(str).stepDown(1);
      }
  </script>

{% endblock %}
