{% extends './base.html' %}

{% block content %}
    <script src="../../static/js/buttons.js"></script>

  <main role="main" class="container-fluid m-5">



<div class="container-fluid" style="margin-top: 0px">
<div>
      <div class="row">

        <div class="container-fluid col col-2" style=";margin-left: 0%;margin-right: 5%">
         <a class="blog-post" href="#"><img src="/static/img/fffzRA7cwYA.jpg" width="80" height="80" style="margin: 10%"></a><br>

          <div class="btn-group" style="margin-top: 10%">
              <div><input style="width: 60px" type="number" id="myNumber1"></div>
          <div class="btn-group-vertical" style="margin-right: 50px">
            <button onmouseover="this.style.backgroundColor='green'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction1('myNumber1')">▲</button>
            <button onmouseover="this.style.backgroundColor='red'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction2('myNumber1')">▼</button>
          </div>
        </div>

        </div>
        <div class="col col-7">
        <div class="blog-post">
        <h2><a style="color: darkviolet" href="#">{{question.title}}</a></h2>
        <p class="blog-post-meta">{{question.pub_date}}
          <a href="#">{{question.author}}</a>
        </p>
            {{question.text}}
        <blockquote>
        </blockquote>
          <hr>
            <p>Tags:<a href="#">(Tag1)</a><a href="#">(Tag2)</a></p>
            <hr>
      </div><!-- /.blog-post -->
</div>

{% for answer in answer_list%}
           <div class="row" style="border: 3px solid red; width: 80%">
        <div class="col col-2">
         <a class="blog-post" href="#"><img src="/static/img/fffzRA7cwYA.jpg" width="60" height="60" style="margin: 10px"></a><br>

          <div class="btn-group" style="margin-top: 10%">
              <div><input style="width: 60px" type="number" id="myNumber2"></div>
          <div class="btn-group-vertical" style="margin-right: 50px">
            <button onmouseover="this.style.backgroundColor='green'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction1('myNumber2')">▲</button>
            <button onmouseover="this.style.backgroundColor='red'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction2('myNumber2')">▼</button>
          </div>
        </div>
        </div>
        <div class="col col-7" style="margin-left: 10%">
        <div class="blog-post" style="margin-top: 0%">
        <h2><a style="color: darkviolet" href="#">{{answer.title}}</a></h2>
        <p class="blog-post-meta"> {{answer.pub_date}}
          <a href="#">{{answer.author}}</a>
        </p>
{{answer.text}}
            <blockquote>
        </blockquote>
          <hr>
            {% if answer.correct %}
            <p><input type="checkbox" name="check" value="True" checked> Correct!</p>
            {% else %}
            <p><input type="checkbox" name="check" value="True"> Correct!</p>
            {% endif %}
      </div><!-- /.blog-post -->
</div>


        </div>

{% endfor %}

      </div>

        </div>



 </div>

 </div>

  </main>

{% endblock %}
