{% extends './base.html' %}
{% block content %}
<main style="margin-top: 10%">
<div class="container-fluid">
	<div class="row">
          <form class="form-horizontal" style="margin-left: 7%" method="POST" novalidate enctype="multipart/form-data">
{% csrf_token %}
            <fieldset>
              <legend>Registration</legend>
              {% include './render_form.html'%}
              <div class="form-group">
                <div class="col-md-4">
                  <button name="singlebutton" class="btn btn-primary" id="singlebutton">Submit</button>
                </div>
              </div>
            </fieldset>
          </form>
	</div>
</div>
</main>
{% endblock %}
