{% extends './base.html' %}
{% block content %}
<main>
  <div class="row">
    <div class="col-md-8 col-sm-8 blog-main">
      <h3 class="mb-4 font-italic border-bottom">
        Settings: {{user.username}}
      </h3>
    </div>

  </div>
    <div class="container-fluid">
      <div class="row">
      <div class="col-1">
        Login
      </div>
      <div class="col-5">
        <input class="form" type="text" value={{user.id}}{{user.username}} style="border-width: 4px; border-color: red;width: 80%">
      </div>
      </div>

      <div class="row">
      <div class="col-1">
        Email
      </div>
      <div class="col-5">
        <input type="text" value="{{user.email}}"  style="border-width: 4px; border-color: red;width: 80%;height: 80px"></input>
      </div>
      </div>

      <div class="row">
      <div class="col-1">
        NickName
      </div>
      <div class="col-5">
        <input class="form" type="text" value={{user.username}} style="border-width: 4px; border-color: red;width: 80%">
      </div>
      </div>

      <div class="row">
       <div class="col-5">
        UploadPhoto
        <img src="/static/img/fffzRA7cwYA.jpg" width="400" height="350" style="margin-left: 9%">
         <form style="margin-left: 20%;margin-top: 3%">
          <input type="file" name="pic" accept="image/*">
          <input type="submit">
         </form>
      </div>
      </div>

      <button class="btn btn-danger col-sm-1" type="submit" style="margin-left: 6%;margin-top: 2%; margin-bottom: 3%">Save!</button>

      </div>
</main>
{% endblock %}

