{% extends './base.html' %}
{% block content %}
<main>
  <div class="row">
    <div class="col-md-8 col-sm-8 blog-main">
      <h3 class="mb-4 font-italic border-bottom" style="margin-left: 8%">
        Settings: {{user.username}}
      </h3>
    </div>
  </div>
  <form class="form-horizontal" style="margin-left: 7%" method="POST" novalidate enctype="multipart/form-data">
  {% csrf_token %}
    <fieldset>
      {% include './render_form.html'%}
      <div class="form-group">
        <div class="col-md-4">
          <button name="singlebutton" class="btn btn-primary" id="singlebutton">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>
             </div>
</main>
{% endblock %}

