{% extends './base.html' %}
{% block content %}
    <script src="../../static/js/buttons.js"></script>

  <main role="main" class="container-fluid m-5">

  <div class="row">
    <div class="col-md-8 col-sm-8 blog-main">
      <h3 class="mb-4 font-italic border-bottom">
      Tag:{{ tag_name }}
      </h3>
    </div>

    <div class="container-fluid" style="margin-top: 0px">

      <div class="row">
        <div class="col col-2" style="border: 3px solid red;border-right: none">
         <a class="blog-post" href="#"><img src="/static/img/fffzRA7cwYA.jpg" width="60" height="60" style="margin: 10px"></a><br>

          <div class="btn-group" style="margin-top: 10%">
              <div><input style="width: 60px" type="number" id="myNumber1"></div>
          <div class="btn-group-vertical" style="margin-right: 50px">
            <button onmouseover="this.style.backgroundColor='green'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction1('myNumber1')">▲</button>
            <button onmouseover="this.style.backgroundColor='red'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction2('myNumber1')">▼</button>
          </div>
        </div>
        </div>
        <div class="col col-7" style="border: 3px solid red;">
        <div class="blog-post">
        <h2><a style="color: darkviolet" href="#">What is the color of the stars?</a></h2>
        <p class="blog-post-meta">January 1, 2014 by
          <a href="#">Mark</a>
        </p>


        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
        </blockquote>
          <hr>
            <p> <a href="#">Answers(count)</a> Tags:<a href="#">{{tag_name}}</a>
      </div><!-- /.blog-post -->
</div>


        </div>
 </div>




 <div class="container-fluid" style="margin-top: 1px">

      <div class="row">
        <div class="col col-2" style="border: 3px solid red;border-right: none">
         <a class="blog-post" href="#"><img src="/static/img/fffzRA7cwYA.jpg" width="60" height="60" style="margin: 10px"></a><br>

          <div class="btn-group" style="margin-left: 10px">
              <div><input type="number" id="myNumber2"></div>
          <div class="btn-group-vertical">
            <button onmouseover="this.style.backgroundColor='green'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction1('myNumber2')">▲</button>
            <button onmouseover="this.style.backgroundColor='red'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction2('myNumber2')">▼</button>
          </div>



        </div>
        </div>
        <div class="col col-7" style="border: 3px solid red;">
        <div class="blog-post">
        <h2><a style="color: darkviolet" href="#">What is the color of the stars?</a></h2>
        <p class="blog-post-meta">January 1, 2014 by
          <a href="#">Mark</a>
        </p>


        <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
        <hr>

        <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
        <blockquote>
        </blockquote>
          <hr>
            <p> <a href="#">Answers(count)</a> Tags:<a href="#">{{tag_name}}</a>
      </div><!-- /.blog-post -->
</div>
      </div>

    <div class="container-fluid">
     <nav class="blog-pagination" style="margin-top: 1px;margin-left:0px">
        <a class="btn btn-outline-primary" href="#">Older</a>
        <a class="btn btn-outline-secondary" href="#" tabindex="-1" aria-disabled="true">Newer</a>
      </nav>
    </div>


</main><!-- /.container -->


  <script>
      function myFunction1(str) {
          document.getElementById(str).stepUp(1);
      }
      function myFunction2(str) {
          document.getElementById(str).stepDown(1);
      }
  </script>


{% endblock %}

