{% extends './base.html' %}
{% block content %}
    <script src="../../static/js/buttons.js"></script>

  <main role="main" class="container-fluid m-5">

  <div class="row">
    <div class="col-md-8 col-sm-8 blog-main">
      <h3 class="mb-4 font-italic border-bottom">
      Tag:{{ tag_name }}
      </h3>
    </div>
{% for question in questions_list %}
    <div class="container-fluid" style="margin-top: 0px">

      <div class="row">
        <div class="col col-2" style="border: 3px solid red;border-right: none">
         <a class="blog-post" href="#"><img src="/static/img/fffzRA7cwYA.jpg" width="60" height="60" style="margin: 10px"></a><br>

          <div class="btn-group" style="margin-top: 10%">
              <div><input style="width: 60px" type="number" id={{question.id}}></div>
          <div class="btn-group-vertical" style="margin-right: 50px">
            <button onmouseover="this.style.backgroundColor='green'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction1({{question.id}})">▲</button>
            <button onmouseover="this.style.backgroundColor='red'"; onmouseout="this.style.backgroundColor='white'" ; style="height: 25px; width: 90%;" onclick="myFunction2({{question.id}})">▼</button>
          </div>
        </div>
        </div>
        <div class="col col-7" style="border: 3px solid red;">
        <div class="blog-post">
        <h2><a style="color: darkviolet" href="#">{{question.title}}</a></h2>
        <p class="blog-post-meta">January 1, 2014 by
          <a href="#">Mark</a>
        </p>
            {{question.text}}
          <hr>
            <p> <a href="#">Answers({{question.answer_set.count}})</a> Tags:
                {% for tag in question.tags.all%}
                <a href="{% url 'ask:tag' tag.name %}" style="color: {{tag.color}} ">({{tag.name}})</a>
            {% endfor%}
            </p>
        </div><!-- /.blog-post -->
        </div>
      </div>
 </div>



{% endfor %}
  </div>
</main><!-- /.container -->



{% endblock %}

